*.swp
download/orig
download/pages/*.txt
download/pages/duplicates
TestApp/bin
TestApp/obj
WikiReader/bin
WikiReader/obj
/.vs
/LurkViewer/bin
/LurkViewer/obj
/data/lurk_data.zip
/LurkViewer/Resources/Raw/lurk_data.zip
/WikiReader.Tests/obj
/WikiReader.Tests/bin
